<!DOCTYPE html>
<html>
    <body>
        <form action="/register" method="post">
            <H1>Register to Grofers</H1>
            <label>Email:</label>
            <input type="text" id="email" name="email" required><br><br>
            <label>Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label>Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <label>Referral:</label>
            <input type="text" id="referral" name="referral"><br><br>
            <label> Register for Referral System: </label>
            <input type="radio" name="enroll" value="Yes" checked>
            <label >Yes</label>
            <input type="radio"name="enroll" value="No" >
            <label >No</label><br><br>
            <input type="submit" id="register" value="Submit">
        </form> 
    </body>
</html>